/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
*,*:before,*after{
box-sizing: borderbox}

/*-----------開始我的語法------------*/

/*{outline: 1px dotted rgba(128, 128, 128, 0.199)}

/*-----------以上是參考線區域------------*/

@font-face {
    font-family: 'jf-lanyangming';
    src: url(jf-lanyangming.woff) format('woff');
}

body{
    background: #f1f1f1;
    font-family: jf-lanyangming;
    
}

.wrap{
    width: 1200px;
    margin: 0 auto;
    position: relative;

}

/*-----------header------------*/

.header{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header img{
    padding-top: 15px;
}

.header ul{
    display: flex;
}

.header li{
    width: 175px;
    height: 70px;
    border: 2px solid rgba(255, 255, 255, 0.849);
    border-radius: 15px;
    margin-left: 15px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    letter-spacing: 3px;
}

.header li a{
    display: block;
    text-decoration: none;
    color: #b292be;
}

.about, .portfolio, .contact{
    box-shadow: 0;
    transition: all 0.5s;
}

.about:hover{
    box-shadow: 0 8px 10px #a8e1f38f;
}

.portfolio:hover{
    box-shadow: 0 8px 10px #e5c3ef83;
}

.contact:hover{
    box-shadow: 0 8px 10px #efdd9579;
}

/*-----------footer------------*/

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    color: #b292be;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;
    height: 50px;
    bottom: 0;
    margin: 0 auto;
}

/*-----------首頁------------*/



.main{
    text-align: center;
    padding-top: 50px;

}

.wrap img{
    z-index: 1;
    margin: auto;
    display: block;

}

.main h1{
    display: block;
    margin: auto;
    z-index: 2;
    left: 45%;
    top: 62%;
    position: absolute;
    color: #d0afdd;
    letter-spacing: 5px;
    font-size: 40px;
}

.main h2{
    z-index: 2;
    display: block;
    left: 18%;
    top: 60%;
    position: absolute;
    display: block;
    color: #d0afdd;
    letter-spacing: 20px;
    font-size: 70px;
    font-style: italic;
}






/*-----------about content------------*/

.content{
    padding: auto 10px;
}

.s1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 200px;
    padding-left: 155px;
}

.text{
    color: #b292be;
    letter-spacing: 3px;

}

.text h1{
    font-size: 28px;
    margin-bottom: 30px;
}

.text h2{
    font-size: 20px;
}


.s2{
    padding: 50px 100px;
    margin-top: 30px;
}

.s2 table{
    margin: 0 auto;
    
}

.s2 td{
    width: 150px;
    padding-left: 60px;
    padding-bottom: 60px;
}


/*-----------contant content------------*/

.content h1{
    letter-spacing: 3px;
    text-align: center;
    font-size: 30px;
    color: #b292be;
    margin: 100px;
    margin-top: 200px;
}

.content ul{
    display: flex;
    justify-content: space-around;
    padding: 0 70px;
    color: #b292be;
    letter-spacing: 5px;
    text-align: center;
}

.content ul li p{
    margin-top: 10px;
}

.content img{
    border: 8px solid #f1f1f100;
    border-radius: 500px;
    outline: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.5s;
}


.content img:hover{
    border: 8px solid #f1f1f1;
    border-radius: 500px;
    outline: 2px solid rgb(255, 255, 255);
    box-shadow: 0 10px 10px #e5c3ef83
}

